.blog {
	padding: 20px;
}
.article {
	max-height: 245px;
	overflow: hidden;
}

body{
	background-image: url("../img/Fond.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#lefond {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 12px;
	padding: 20px;
}

#jeu ,#cours{
	position: relative;
	text-align: center;
	padding: 10px;
}

.button-cours {
	position: relative;
	text-align: center;
	padding: 10px;
}

.mascotte{
	position: fixed;
	float: left;
	left: 0;
	bottom: 0;
}